bank-prcslyr/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="checkBls-Imp-prcsFlow" doc:id="2b05adcf-8702-47af-a260-1e461b85121d" >
		<logger level="INFO" doc:name="Logger" doc:id="019dcb27-8402-4eb9-a611-116f13792d9c" message="#[payload]" />
		<choice doc:name="Choice" doc:id="42e8d0b6-a88c-4f6d-b9bd-3b24e913a214" >
			<when expression='#[payload.hint == "Success"]' >
				<logger level="INFO" doc:name="Logger" doc:id="8476ad5d-a7cc-442b-8053-b4b1ac6fe109" message='#["success Response"]' />
				<ee:transform doc:name="Transform Message" doc:id="fe8cfa97-da9e-485e-8411-2ae4aac8d77d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"custAccNum": payload.custAccNum,
	"totalBalance": payload.totalBalance,
	"wrongPin": payload.wrongPin
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="9276ac67-abcf-4da3-bcce-3dc3176ca51b" variableName="success"/>
				<http:request method="PATCH" doc:name="Copy_of_Request" doc:id="7d4cc497-6cf5-4f40-b4ae-89dc037cfbf3" config-ref="HTTP_Request_configuration_checkBalanceSAPI" path="/api/checkBalance" responseTimeout="500000" >
					<error-mapping targetType="INVALID:REQUEST" />
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="e9071675-4a3f-4c88-8011-09410e224cbc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"totalBalance": vars.success.totalBalance
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.hint == "InvalidPin"]' >
				<logger level="INFO" doc:name="Logger" doc:id="f2732105-a924-4c85-beb1-133cb01ca036" />
				<ee:transform doc:name="Transform Message" doc:id="0b654551-e39f-46ea-b376-be9e7d8615fd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorMessage": payload.error,
	"CustAccountNum": payload.custAccNum,
	"accountStatus": payload.accountStatus,
	"wrongPin": payload.wrongPin
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="98e99445-56f5-4f6c-a9d7-ac49151eefcf" name="wrongPinUpdateFlow" />
				<ee:transform doc:name="Transform Message" doc:id="c9ac8c7a-f55a-43a9-80a1-cb7f64ee8c34">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.hint == "errorResponse"]' >
				<logger level="INFO" doc:name="Logger" doc:id="91eb1916-126f-4ef4-ad48-1985aba95355" />
				<ee:transform doc:name="Transform Message" doc:id="f18f13ca-4f26-417c-9915-1a8fafba869f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.errorMsgAccountStatus]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value='#["default Error message: Please check the correct condition"]' doc:name="Set Payload" doc:id="2b973b45-f4ae-4f29-83e1-44a6de53bc63" />
				<ee:transform doc:name="Transform Message" doc:id="1060afe6-cc20-40ad-9534-60fdfe084b83" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-HandlerError_Handler" />
	</flow>
	<flow name="wrongPinUpdateFlow" doc:id="24024b6d-27d1-4af4-a133-61959a7b752c" >
		<logger level="INFO" doc:name="Logger" doc:id="fe12275e-b8d4-4af1-b305-e623185c5e3a" message="#[payload]" />
		<choice doc:name="Choice" doc:id="46179687-5a42-43d5-940a-d7d6bde6e601" >
			<when expression='#[payload.accountStatus == "InActive"]' >
				<ee:transform doc:name="Transform Message" doc:id="05700fbb-741c-43e5-b038-823523779b4c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"custAccNum": payload.CustAccountNum,
	"AccountStatus": payload.accountStatus,
	"errorMessage": payload.ErrorMessage,
	"wrongPin": 0
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="ea4cf5fd-c161-43d0-84fd-ffc8cd1a9ad9" variableName="Blockedmsg" />
				<http:request method="PATCH" doc:name="Request" doc:id="fe60570b-4f47-4df7-88b3-2b2833625b1c" config-ref="HTTP_Request_configuration_checkBalanceSAPI" path="/api/checkBalance" responseTimeout="500000">
						<error-mapping targetType="INVALID:REQUEST" />
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="b7cec543-e736-40bf-a09f-9b99108b2b86" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0

output application/json
---
{
	"ErrorMessage": vars.Blockedmsg.errorMessage,
	"accountStatus" : vars.Blockedmsg.AccountStatus
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="87650eec-209f-4707-b4ba-57bcf735989a" >
					<email:send doc:id="1becb674-72ee-48de-94e9-7b7845a20731" config-ref="Email_SMTP1" fromAddress="asamohanramsai@gmail.com" subject=" Account Blocked !" doc:name="Send">
					<email:to-addresses>
						<email:to-address value="asamohanramsai@gmail.com" />
					</email:to-addresses>
					<email:body>
						<email:content><![CDATA[#[{
	"message" : "This is to inform you that Your Account has been be blocked 
due to 3 failed attempts. Please reach out nearest branch to unblock"
}]]]></email:content>
					</email:body>
				</email:send>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b4e8b5d6-77ab-4150-b81f-fb2403d1902d" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="53159c18-ae8f-495a-97ba-4ca25b8846ef" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message":payload,
	"error": "error in email connection"
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="c43e50ee-a0d0-4e10-8110-49a2e4b8e5e8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"custAccNum": payload.CustAccountNum,
	"errorMessage": payload.ErrorMessage,
	"wrongPin": payload.wrongPin
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="49037779-bae5-494b-b416-695292e84dc7" variableName="updateWrongPinMsg" />
				<http:request method="PATCH" doc:name="Request" doc:id="cc9489ed-afe8-4481-bdf0-4d614dd1920f" config-ref="HTTP_Request_configuration_checkBalanceSAPI" path="/api/checkBalance" responseTimeout="500000">
						<error-mapping targetType="INVALID:REQUEST" />
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="024e2f11-850e-4bd1-909c-0f6797aaff3f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var finalRetries=(3) - (vars.updateWrongPinMsg.wrongPin)
---
{
	"ErrorMessage": vars.updateWrongPinMsg.errorMessage,
	"retries": ["Your remaining retries are"] + finalRetries
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="befca414-1d49-43a6-8223-5e6073eb9755" >
					<email:send doc:id="d43f4f07-49ed-433b-a696-50d8c5447258" config-ref="Email_SMTP1" fromAddress="asamohanramsai@gmail.com" subject='#["Failed Attempt !"]' doc:name="Send">
					<email:to-addresses>
						<email:to-address value="asamohanramsai@gmail.com" />
					</email:to-addresses>
					<email:body contentType="text/plain">
						<email:content><![CDATA[#[{
"message":	"This is to inform you that there’s a failed attempt happened 
while transaction . Your Account will be blocked after 3 attempts"
}]]]></email:content>
					</email:body>
				</email:send>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a9743ca3-cff0-4072-8552-0c5c7781b3d2" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="2c25d8da-8f8c-40e5-ab21-55c0d2b9764b" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message":payload,
	"error": "error in email connection"
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="8126cfdf-8bc2-4c91-a444-7349440ead8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
	</flow>
</mule>
