src/main/mule/createaccount_sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="12923a61-bad0-47d2-a01b-662d3445f6a7" >
		<salesforce:basic-connection username="ramsai@eniquesolutions.com" password="Ram@12348" securityToken="47hA0SUxwu74R9VBPkCknJC6" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5f52add8-c8d1-4031-93dc-c3c903f4776c" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="createaccount_sapiFlow" doc:id="1fcc90c5-9a19-41ff-9917-9f2ecf8357ab" >
		<ee:transform doc:name="Transform Message" doc:id="c4eecb84-6402-4327-9a07-fb838f962aec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	 "Name"               : $.Name,
    "LastName__c"         : $.LastName,
    "MobileNumber__c"     : $.MobileNumber,
    "UserName__c"         : $.UserName,
    "Password__c"         :  $.Password,
        "Email__c"        : $.Email,
    "ShippingAddress__c"  : $.ShippingAddress,
    "ShippingCountry__c"  : $.ShippingCountry,
    "ShippingPostalCode__c" : $.ShippingPostalCode,
    "ShippingStreet__c"   : $.ShippingStreet,
    "ShippingState__c"    : $.ShippingState,
    "BillingAddress__c"   : $.BillingAddress,
    "BillingState__c"     : $.BillingState,
    "BillingCountry__c"   : $.BillingCountry,
   "BillingPostalCode__c" : $.BillingPostalCode,
    "BillingStreet__c"    : $.BillingStreet,
    "AccountId__c"        : $.AccountId,
    "CreatedDate__c"      : now()  as String {format : "yyyy-MMM-dd"}        
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="OAccount__c" doc:id="fb010030-7eb5-4007-95d5-aeb68439bca4" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="de422ddb-4112-41e5-bf36-7a70de756406" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ "Message" : "inserted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Getaccount_sapiFlow1" doc:id="702546c5-9afc-4d38-aa58-d5ea320c2696" >
		<ee:transform doc:name="Transform Message" doc:id="46e2a829-bbbf-4c32-a7a0-064887ebbb96" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ "query" : "SELECT AccountId__c,BillingAddress__c,BillingCountry__c,BillingPostalCode__c,BillingState__c,BillingStreet__c,CreatedDate__c,Email__c,Id,LastName__c,MobileNumber__c,Name,Password__c,ShippingAddress__c,ShippingCountry__c,ShippingPostalCode__c,ShippingState__c,ShippingStreet__c,UserName__c FROM OAccount__c where Id ='" ++ attributes.queryParams.Id  as String ++ "'" 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="6340d67d-9c0b-4e80-ac97-282c54b2b25d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload.query]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="164ee936-6585-4341-8114-1a5ccf205e7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="update_account_sapiFlow2" doc:id="db349f9f-5be1-49f4-aa54-903153eda608" >
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="93659e83-98bc-49c5-879b-19ab001288d6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	 "Name"               : $.Name,
    "LastName__c"         : $.LastName,
    "MobileNumber__c"     : $.MobileNumber,
    "UserName__c"         : $.UserName,
    "Password__c"         :  $.Password,
        "Email__c"        : $.Email,
    "ShippingAddress__c"  : $.ShippingAddress,
    "ShippingCountry__c"  : $.ShippingCountry,
    "ShippingPostalCode__c" : $.ShippingPostalCode,
    "ShippingStreet__c"   : $.ShippingStreet,
    "ShippingState__c"    : $.ShippingState,
    "BillingAddress__c"   : $.BillingAddress,
    "BillingState__c"     : $.BillingState,
    "BillingCountry__c"   : $.BillingCountry,
    "BillingPostalCode__c" : $.BillingPostalCode,
    "BillingStreet__c"    : $.BillingStreet,
    "AccountId__c"        : $.AccountId,
    "CreatedDate__c"      : now()  as String {format : "yyyy-MMM-dd"}        
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="7f07daad-2e69-434e-9de5-431433a4f75c" config-ref="Salesforce_Config" objectType="OAccount__c" externalIdFieldName="AccountId__c"/>
		<ee:transform doc:name="Transform Message" doc:id="335cc00d-7e0e-4e60-b8cf-8f07ef3ac761" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message": "updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
